body{
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: grid;
    flex-wrap: wrap;
    min-height: 100vh;
}
.alb{
    width: 200px;
    height: 200px;
    padding: 5px;
}
.alb img{
    width: auto;
    height: auto;
}
a{
    text-decoration: solid;
    color: black;
    font-size: small;
}